{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for office in offices %}
            <tr>
                <td><a href="{{ path('offices_show', { 'id': office.id }) }}">{{ office.id }}</a></td>
                <td>{{ office.name }}</td>
                <td>{{ office.address }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offices_show', { 'id': office.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offices_edit', { 'id': office.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offices_new') }}">Create a new office</a>
        </li>
    </ul>
{% endblock %}
